
BOT_TOKEN = ""
BOT_ID = "@odesec_bot"
DEFAULT_POC_ADDRESS = "0x412049F92065a2597458c4cE9b969C846fE994fD"
FULL_NODE_RPC_URL = "https://eth-sepolia.g.alchemy.com/v2/PwB1oLC0AVk2wiLTAzskCYGoOGm65bsn"

FAMOUS_BALANCE_SLOT = [
    ("0x190CaCC70Ba6C8696b6144D67Acf4F5BEE77f713", "0x7ae9d375fc36d90f0de9cf09b1a01e5dbe2c14eeca61d9dd35594a3c114a50a0"), #USDC
]
ODESEC_CONTRACT_ADDRESS = ""
ODESEC_BIN = ""
